All Jobs for <strong><%= @company.name %></strong>

<ul>
<% @company.jobs.each do |job| %>
  <li><%= link_to job.title, job_path(@job) %></li>
<% end %>
</ul>

<%= button_to "New Job", new_company_job_path(@company) %>

All Contacts for <strong><%= @company.name %></strong>

<ul>
  <% if @contacts %>
    <% @contacts.each do |contact| %>
      <li><%= contact.name %></li>
      <li><%= contact.position %></li>
      <li><%= contact.email %></li>
    <% end %>
  <% end %>
</ul>

<%= form_for @contact do |f| %>
              <%= f.label :name %>
              <%= f.string :name %>
              <%= f.label :position %>
              <%= f.string :position %>
              <%= f.label :email %>
              <%= f.string :email %>
              
              <%= hidden_field(:company, :id) %>
              
              <%= f.submit %>
            <% end %>